<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">

<head>
</head>
<body>

<header th:fragment="headerFragment">
    <div class="outer">
        <div class="items">
            <a th:href="@{/}">
                <img class="logo rounded-circle" th:src="@{/img/warehouse-logo.webp}" alt="Warehouse Logo" >
            </a>
            <span class="title ">Giatzitzoglou Warehouse</span>
        </div>
<!--        <div class="logout">-->
<!--&lt;!&ndash;            <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></span>&ndash;&gt;-->
<!--            <a class="btn btn-outline-light rounded-pill text-light" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>-->
<!--        </div>-->
    </div>
</header>
</body>
</html>