:root {
    --color-white: #fff;
    --color-blue-300: rgb(0, 101, 179);
    --color-forest-green: #2F855A;
    --color-dark: #000;
}

.outer {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-forest-green);
    color: var(--color-white);
    font-family: Arial, sans-serif;
}

.items {
    width: 60%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 15px;
}

.title {
    font-size: 1.8rem;
}

.logo {
    height: 80px;
    width: auto;
}

.items img {
    vertical-align: middle;
}



