<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/main-form.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body class="d-flex flex-column vh-100">

<div th:replace="~{fragments/header :: headerFragment}"></div>

<div class="container-fluid flex-grow-1">
    <div class="row h-100">

        <aside class="col-3 p-0 bg-dark">
            <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>
        </aside>

        <main class="col-9 bg-light p-4">
            <h2 class="text-center mb-4" th:text="${'Product Details'}"></h2>
            <hr>

            <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${successMessage}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="row">
                <div class="col-md-4 d-flex align-items-center">
                    <img th:src="@{/uploads/{filename}(filename=${product.photoName})}" alt="Product Image" class="img-fluid rounded border">
                </div>

                <div class="col-md-8">
                    <form method="POST" th:object="${product}" th:action="${'/warehouse/products/edit/' + product.id}"
                          enctype="multipart/form-data">
                        <div class="mb-3 ">
                            <label for="name">Name:</label>
                            <input type="text" id="name" class="form-control readonly" th:field="*{name}" readonly>
                        </div>

                        <div class="mb-3 ">
                            <label for="type">Product Type:</label>
                            <input type="text" id="type" class="form-control readonly" th:field="*{type}" readonly>
                        </div>

                        <div class="mb-3 ">
                            <label for="color">Color:</label>
                            <input type="text" id="color" class="form-control readonly" th:field="*{color}" readonly>
                        </div>

                        <div class="mb-3 ">
                            <label for="material">Material:</label>
                            <input type="text" id="material" class="form-control readonly" th:field="*{material}" readonly>
                        </div>

                        <div class="mb-3">
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" class="form-control" th:field="${product.quantity}"
                                   th:classappend="${#fields.hasErrors('quantity')} ? 'is-invalid'">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}"
                                 th:text="${#fields.errors('quantity')}"></div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary" th:text="${'Edit Quantity'}"></button>

                            <a th:href="@{/warehouse/products}" class="btn btn-dark"
                               th:text="${'Back to All Products'}"></a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

<footer class="text-black text-center">
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>